[submodule "firmware/vendor/pico-sdk"]
	path = firmware/vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "firmware/vendor/Pico-PIO-USB"]
	path = firmware/vendor/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "firmware/vendor/tinyusb"]
	path = firmware/vendor/tinyusb
	url = https://github.com/larssonoliver/tinyusb.git
